FlorMLv2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Thomas Hamann (NHN) -->
<!-- Mit XMLSpy v2011 sp1 (http://www.altova.com) von Andreas Müller (BGBM) bearbeitet -->
<!-- FlorML is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported license -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="body">
		<xs:annotation>
			<xs:documentation>body element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="cover" minOccurs="0">
					<xs:annotation>
						<xs:documentation>book cover, includes list of family treatments included</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="edcom" minOccurs="0">
					<xs:annotation>
						<xs:documentation>editorial committee information, includes lists of editorial committee, etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="titlepage">
					<xs:annotation>
						<xs:documentation>title page (first page of volume, usually), includes list of treatments etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="copyright"/>
				<xs:element ref="sectiontitlepage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="abstract" minOccurs="0"/>
				<xs:element ref="contents" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="preface" minOccurs="0"/>
				<xs:element ref="dedication" minOccurs="0">
					<xs:annotation>
						<xs:documentation>dedication page and dedicated person biography</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="abbr" minOccurs="0">
					<xs:annotation>
						<xs:documentation>abbreviation section, includes abbreviation list(s)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="bibliography" minOccurs="0"/>
				<xs:element ref="serials" minOccurs="0"/>
				<xs:element ref="specdelim" minOccurs="0"/>
				<xs:element ref="cyclopedia" minOccurs="0"/>
				<xs:element ref="introduction" minOccurs="0"/>
				<xs:element ref="generalkey" minOccurs="0"/>
				<xs:element ref="datepub" minOccurs="0"/>
				<xs:element ref="taxon" maxOccurs="unbounded"/>
				<xs:element ref="index" minOccurs="0"/>
				<xs:element ref="addenda" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:annotation>
			<xs:documentation>table</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:annotation>
			<xs:documentation>table row</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="th" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="td" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:annotation>
			<xs:documentation>table header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="td">
		<xs:annotation>
			<xs:documentation>table cell data</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:annotation>
			<xs:documentation>ordered list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="li" maxOccurs="unbounded"/>
				<xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:annotation>
			<xs:documentation>unordered list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="li" maxOccurs="unbounded"/>
				<xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:annotation>
			<xs:documentation>list item</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:annotation>
			<xs:documentation>line break</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="superscript">
		<xs:annotation>
			<xs:documentation>superscript</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="subscript">
		<xs:annotation>
			<xs:documentation>subscript</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bold">
		<xs:annotation>
			<xs:documentation>text in bold</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="italics">
		<xs:annotation>
			<xs:documentation>text in italics</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="heading">
		<xs:annotation>
			<xs:documentation>heading</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="writer" minOccurs="0"/>
				<xs:element ref="footnotes" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="subheading">
		<xs:annotation>
			<xs:documentation>subheading</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="writer" minOccurs="0"/>
				<xs:element ref="bold" minOccurs="0"/>
				<xs:element ref="italics" minOccurs="0"/>
				<xs:element ref="footnotes" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ann">
		<xs:annotation>
			<xs:documentation>annotations</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="nom" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="citation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="year">
		<xs:annotation>
			<xs:documentation>year (for cover, title page, etc.)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="title">
		<xs:annotation>
			<xs:documentation>flora series title</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="subseries">
		<xs:annotation>
			<xs:documentation>flora subseries</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="string">
		<xs:annotation>
			<xs:documentation>text string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="subheading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="volume" minOccurs="0"/>
				<xs:element ref="volpage" minOccurs="0"/>
				<xs:element ref="year" minOccurs="0"/>
				<xs:element ref="quotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="signature" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="edcom"/>
						<xs:enumeration value="copyright"/>
						<xs:enumeration value="titlepage"/>
						<xs:enumeration value="abstract"/>
						<xs:enumeration value="sectiontitlepage"/>
						<xs:enumeration value="preface"/>
						<xs:enumeration value="dedication"/>
						<xs:enumeration value="abbr"/>
						<xs:enumeration value="biblio"/>
						<xs:enumeration value="serials"/>
						<xs:enumeration value="introduction"/>
						<xs:enumeration value="genkey"/>
						<xs:enumeration value="datepub"/>
						<xs:enumeration value="specdelim"/>
						<xs:enumeration value="index"/>
						<xs:enumeration value="notes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature">
		<xs:annotation>
			<xs:documentation>other features, taxonomy, dispersal, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="string" minOccurs="0"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="anatomy"/>
						<xs:enumeration value="biogeography"/>
						<xs:enumeration value="conservation"/>
						<xs:enumeration value="cytology"/>
						<xs:enumeration value="dispersal"/>
						<xs:enumeration value="fossils"/>
						<xs:enumeration value="introducedspecies"/>
						<xs:enumeration value="lifehistory"/>
						<xs:enumeration value="morphology"/>
						<xs:enumeration value="palynology"/>
						<xs:enumeration value="phytochemo"/>
						<xs:enumeration value="pollination"/>
						<xs:enumeration value="taxonomy"/>
						<xs:enumeration value="uses"/>
						<xs:enumeration value="vernacular"/>
						<xs:enumeration value="..."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cover">
		<xs:annotation>
			<xs:documentation>book cover</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="title"/>
				<xs:element ref="volume"/>
				<xs:element ref="year"/>
				<xs:element ref="ul"/>
				<xs:element ref="figures" minOccurs="0"/>
				<xs:element ref="subseries" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="edcom">
		<xs:annotation>
			<xs:documentation>editorial committee information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="heading" maxOccurs="unbounded"/>
				<xs:element ref="ul" maxOccurs="unbounded"/>
				<xs:element ref="string"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="titlepage">
		<xs:annotation>
			<xs:documentation>title page (first page of volume, usually)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="title"/>
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="string" minOccurs="0"/>
				<xs:element ref="subseries"/>
				<xs:element ref="figures" minOccurs="0"/>
				<xs:element ref="volume"/>
				<xs:element ref="year"/>
				<xs:element ref="ul" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyright">
		<xs:annotation>
			<xs:documentation>copyright notice</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="isbn" minOccurs="0"/>
				<xs:element ref="string"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="isbn">
		<xs:annotation>
			<xs:documentation>ISBN number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sectiontitlepage">
		<xs:annotation>
			<xs:documentation>Pages  that split a volume in several parts that don't belong to any other particular piece of text</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="writer">
		<xs:annotation>
			<xs:documentation>writer</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract">
		<xs:annotation>
			<xs:documentation>abstract</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="heading" maxOccurs="unbounded"/>
				<xs:element ref="string" maxOccurs="unbounded"/>
				<xs:element ref="isbn" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="contents">
		<xs:annotation>
			<xs:documentation>contents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="contentsheading" minOccurs="0"/>
				<xs:element ref="contentssubheading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="table" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="general"/>
						<xs:enumeration value="section"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="contentsheading">
		<xs:annotation>
			<xs:documentation>contents heading</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contentssubheading">
		<xs:annotation>
			<xs:documentation>contents subheading</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="taxontitle">
		<xs:annotation>
			<xs:documentation>'title' of taxon (e.g. family name, species, etc.)</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="writer" minOccurs="0"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="family"/>
						<xs:enumeration value="subfamily"/>
						<xs:enumeration value="tribus"/>
						<xs:enumeration value="genus"/>
						<xs:enumeration value="subgenus"/>
						<xs:enumeration value="species"/>
						<xs:enumeration value="subspecies"/>
						<xs:enumeration value="variety"/>
						<xs:enumeration value="subvariety"/>
						<xs:enumeration value="forma"/>
						<xs:enumeration value="subforma"/>
						<xs:enumeration value="hybrid"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="preface">
		<xs:annotation>
			<xs:documentation>preface</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="string"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dedication">
		<xs:annotation>
			<xs:documentation>dedication page</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="string" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0"/>
				<xs:element ref="figures" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbr">
		<xs:annotation>
			<xs:documentation>abbreviation section</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="string" minOccurs="0"/>
				<xs:element ref="ul"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibliography">
		<xs:annotation>
			<xs:documentation>bibliography sections</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="contents" minOccurs="0"/>
				<xs:element ref="string" minOccurs="0"/>
				<xs:element ref="references" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="serials">
		<xs:annotation>
			<xs:documentation>serial abbreviations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="specdelim">
		<xs:annotation>
			<xs:documentation>species delimitation etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="contents" minOccurs="0"/>
				<xs:element ref="string"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="index" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cyclopedia">
		<xs:annotation>
			<xs:documentation>cyclopedia of collectors</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading"/>
				<xs:element ref="abbr" minOccurs="0"/>
				<xs:element ref="cyclotext" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="index" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="addenda" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cyclotext">
		<xs:annotation>
			<xs:documentation>cyclopedia text</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="quotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="contents" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subheading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="signature" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ol" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ul" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cyclochronology" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cyclobio" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cyclochronology">
		<xs:annotation>
			<xs:documentation>cyclopedia chronology of collections</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collector" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cycloyear" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>cyclopedia collection year</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cycloyear">
		<xs:annotation>
			<xs:documentation>cyclopedia colelction year</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cyclobio">
		<xs:annotation>
			<xs:documentation>cyclopedia collector biography, includes itinerary and collections</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collector" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="introduction">
		<xs:annotation>
			<xs:documentation>introduction</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="contents" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="string"/>
				<xs:element ref="references" minOccurs="0"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="index" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="generalkey">
		<xs:annotation>
			<xs:documentation>for chapter on why no general key exists for the malesian angiosperms</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="string"/>
				<xs:element ref="references"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datepub">
		<xs:annotation>
			<xs:documentation>dates of publication</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addenda">
		<xs:annotation>
			<xs:documentation>addenda, corrections, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading"/>
				<xs:element ref="addendastring" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addendastring">
		<xs:annotation>
			<xs:documentation>addenda text string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="subheading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="addendalist" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="addendalist">
		<xs:annotation>
			<xs:documentation>addenda list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="addendali" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addendali">
		<xs:annotation>
			<xs:documentation>addenda list item</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="volume"/>
				<xs:element ref="volpage"/>
				<xs:element ref="volstring"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="volume">
		<xs:annotation>
			<xs:documentation>volume number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="volpage">
		<xs:annotation>
			<xs:documentation>volume page for addenda etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="volstring">
		<xs:annotation>
			<xs:documentation>text string describing addendum, correction, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxon">
		<xs:annotation>
			<xs:documentation>taxon</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="taxontitle">
					<xs:annotation>
						<xs:documentation>'title' of taxon treatment (e.g. family name, species, etc.)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="volume" minOccurs="0"/>
				<xs:element ref="volpage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>volume page for addenda etc.; in taxon (non-FM): page on which taxon starts</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="year" minOccurs="0"/>
				<xs:element ref="introduction" minOccurs="0"/>
				<xs:element ref="taxalist" minOccurs="0"/>
				<xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="nomenclature" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="distribution" minOccurs="0"/>
				<xs:element ref="habitatecology" minOccurs="0"/>
				<xs:element ref="notes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="feature" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="spotchar" minOccurs="0"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="excluded"/>
						<xs:enumeration value="dubious"/>
						<xs:enumeration value="cultivated"/>
						<xs:enumeration value="insufficient"/>
						<xs:enumeration value="expected"/>
						<xs:enumeration value="new"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="nomenclature">
		<xs:annotation>
			<xs:documentation>nomenclature</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="homotypes" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="homotypes">
		<xs:annotation>
			<xs:documentation>homotypes</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="nom" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="index">
		<xs:annotation>
			<xs:documentation>index</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="general"/>
						<xs:enumeration value="scientific"/>
						<xs:enumeration value="personal"/>
						<xs:enumeration value="terms"/>
						<xs:enumeration value="vernacular"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:annotation>
			<xs:documentation>key and key title</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="couplet" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="title" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="couplet">
		<xs:annotation>
			<xs:documentation>couplet</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="question" maxOccurs="unbounded"/>
				<xs:element ref="keynotes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="question">
		<xs:annotation>
			<xs:documentation>question</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="num"/>
				<xs:element ref="text"/>
				<xs:element ref="to"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="num">
		<xs:annotation>
			<xs:documentation>number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="text">
		<xs:annotation>
			<xs:documentation>question text</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="question"/>
				<xs:element ref="text"/>
				<xs:element ref="to"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to">
		<xs:annotation>
			<xs:documentation>goto lead or species</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="keynotes">
		<xs:annotation>
			<xs:documentation>key-related notes</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxalist">
		<xs:annotation>
			<xs:documentation>list of taxa</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="heading"/>
				<xs:element ref="ul" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="spotchar">
		<xs:annotation>
			<xs:documentation>spot character section</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="ul"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="figures">
		<xs:annotation>
			<xs:documentation>illustrations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="num" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="string" minOccurs="0"/>
				<xs:element ref="illustrationtype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="legend" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="illustrationtype">
		<xs:annotation>
			<xs:documentation>illustration type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="url">
		<xs:annotation>
			<xs:documentation>illustration location URL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="legend">
		<xs:annotation>
			<xs:documentation>illustration legend</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="legendstring"/>
				<xs:element ref="figurelocation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="legendstring">
		<xs:annotation>
			<xs:documentation>legend string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collector" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="colnum" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="figurelocation">
		<xs:annotation>
			<xs:documentation>title of text section nearest to illustration</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="footnotes">
		<xs:annotation>
			<xs:documentation>footnotes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="num"/>
				<xs:element ref="footstring"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notes">
		<xs:annotation>
			<xs:documentation>notes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="subheading" minOccurs="0"/>
				<xs:element ref="num" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="string" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="footstring">
		<xs:annotation>
			<xs:documentation>footnotes string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="habitatecology">
		<xs:annotation>
			<xs:documentation>habitat and ecology</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="habitatlist"/>
				<xs:element ref="habitatecologystring" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="habitatlist">
		<xs:annotation>
			<xs:documentation>list of habitats</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="habitat" maxOccurs="unbounded"/>
				<xs:element ref="altitude" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="habitat">
		<xs:annotation>
			<xs:documentation>habitat list item</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="altitude" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="altitude">
		<xs:annotation>
			<xs:documentation>altitude</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="habitatecologystring">
		<xs:annotation>
			<xs:documentation>habitat and ecology string(s)</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="subheading" minOccurs="0"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0"/>
				<xs:element ref="footnotes" minOccurs="0"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ecology"/>
						<xs:enumeration value="habitat"/>
						<xs:enumeration value="habitatecology"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribution">
		<xs:annotation>
			<xs:documentation>distribution</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="distlist" minOccurs="0"/>
				<xs:element ref="distributionstring"/>
				<xs:element ref="figures" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distlist">
		<xs:annotation>
			<xs:documentation>list of locations where a species occurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distitem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distitem">
		<xs:annotation>
			<xs:documentation>list item for distribution</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="country"/>
						<xs:enumeration value="continent"/>
						<xs:enumeration value="province"/>
						<xs:enumeration value="region"/>
						<xs:enumeration value="locality"/>
						<xs:enumeration value="county"/>
						<xs:enumeration value="state"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="distributionstring">
		<xs:annotation>
			<xs:documentation>distribution string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="subheading" minOccurs="0"/>
				<xs:element ref="collection" minOccurs="0"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0"/>
				<xs:element ref="footnotes" minOccurs="0"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection">
		<xs:annotation>
			<xs:documentation>collection</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collector"/>
				<xs:element ref="colnum"/>
				<xs:element ref="place"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="place">
		<xs:annotation>
			<xs:documentation>collection place</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="collector">
		<xs:annotation>
			<xs:documentation>collector</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="colnum">
		<xs:annotation>
			<xs:documentation>collection number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="references">
		<xs:annotation>
			<xs:documentation>references</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="heading" minOccurs="0"/>
				<xs:element ref="refnum" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subheading" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="reference" maxOccurs="unbounded"/>
				<xs:element ref="signature" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:annotation>
			<xs:documentation>individual reference</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="citation">
		<xs:annotation>
			<xs:documentation>citation (in nomenclature)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pub"/>
						<xs:enumeration value="usage"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="refnum">
		<xs:annotation>
			<xs:documentation>reference number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ref">
		<xs:annotation>
			<xs:documentation>reference atomization</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="author"/>
						<xs:enumeration value="pubtitle"/>
						<xs:enumeration value="pubname"/>
						<xs:enumeration value="pubtype"/>
						<xs:enumeration value="volume"/>
						<xs:enumeration value="edition"/>
						<xs:enumeration value="details"/>
						<xs:enumeration value="year"/>
						<xs:enumeration value="notes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="signature">
		<xs:annotation>
			<xs:documentation>for signatures</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="date">
		<xs:annotation>
			<xs:documentation>for dates in signatures etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="quotes">
		<xs:annotation>
			<xs:documentation>for quotes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quotestring"/>
				<xs:element ref="quotesignature" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quotestring">
		<xs:annotation>
			<xs:documentation>quote string</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quotesignature">
		<xs:annotation>
			<xs:documentation>quote attribution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>description</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="heading"/>
				<xs:element ref="char" maxOccurs="unbounded"/>
				<xs:element ref="figures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="char">
		<xs:annotation>
			<xs:documentation>character description</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="subheading" maxOccurs="unbounded"/>
				<xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bold" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="italics" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="superscript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="footnotes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="anatomy"/>
						<xs:enumeration value="androecium"/>
						<xs:enumeration value="anthers"/>
						<xs:enumeration value="bracts"/>
						<xs:enumeration value="calyx"/>
						<xs:enumeration value="capsule"/>
						<xs:enumeration value="carpels"/>
						<xs:enumeration value="corolla"/>
						<xs:enumeration value="cytology"/>
						<xs:enumeration value="disc"/>
						<xs:enumeration value="embryo"/>
						<xs:enumeration value="false fruits"/>
						<xs:enumeration value="female flowers"/>
						<xs:enumeration value="flowers"/>
						<xs:enumeration value="fruits"/>
						<xs:enumeration value="gynoecium"/>
						<xs:enumeration value="habit"/>
						<xs:enumeration value="hairs"/>
						<xs:enumeration value="indumentum"/>
						<xs:enumeration value="inflorescences"/>
						<xs:enumeration value="leaves"/>
						<xs:enumeration value="leaflets"/>
						<xs:enumeration value="lifeform"/>
						<xs:enumeration value="male flowers"/>
						<xs:enumeration value="nuts"/>
						<xs:enumeration value="ovary"/>
						<xs:enumeration value="ovule"/>
						<xs:enumeration value="peduncle"/>
						<xs:enumeration value="perianth"/>
						<xs:enumeration value="petals"/>
						<xs:enumeration value="petiole"/>
						<xs:enumeration value="pistil"/>
						<xs:enumeration value="pollen"/>
						<xs:enumeration value="retinacula"/>
						<xs:enumeration value="roots"/>
						<xs:enumeration value="scales"/>
						<xs:enumeration value="seeds"/>
						<xs:enumeration value="sepals"/>
						<xs:enumeration value="spathe"/>
						<xs:enumeration value="spikes"/>
						<xs:enumeration value="stamens"/>
						<xs:enumeration value="stems"/>
						<xs:enumeration value="stigma"/>
						<xs:enumeration value="tepals"/>
						<xs:enumeration value="twigs"/>
						<xs:enumeration value="utricle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom">
		<xs:annotation>
			<xs:documentation>nomenclature type</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="citation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ann" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collector" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="colnum" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="accepted"/>
						<xs:enumeration value="synonym"/>
						<xs:enumeration value="typeref"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:annotation>
			<xs:documentation>nomenclature name parts</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="num"/>
						<xs:enumeration value="infrank"/>
						<xs:enumeration value="family"/>
						<xs:enumeration value="subfamily"/>
						<xs:enumeration value="tribus"/>
						<xs:enumeration value="genus"/>
						<xs:enumeration value="subgenus"/>
						<xs:enumeration value="section"/>
						<xs:enumeration value="subsection"/>
						<xs:enumeration value="species"/>
						<xs:enumeration value="subspecies"/>
						<xs:enumeration value="variety"/>
						<xs:enumeration value="subvariety"/>
						<xs:enumeration value="forma"/>
						<xs:enumeration value="subforma"/>
						<xs:enumeration value="epithet"/>
						<xs:enumeration value="paraut"/>
						<xs:enumeration value="author"/>
						<xs:enumeration value="infrparaut"/>
						<xs:enumeration value="infraut"/>
						<xs:enumeration value="homonym"/>
						<xs:enumeration value="status"/>
						<xs:enumeration value="notes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
